# HuggingFace Inference API
HUGGINGFACE_API_TOKEN=your_huggingface_token_here
PROVIDER=huggingface #ollama
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5-coder:7b

# Laravel backend URL
LARAVEL_API_URL=http://127.0.0.1:8000/api

# Model to use for Text-to-SQL
MODEL_ID=Qwen/Qwen2.5-Coder-7B-Instruct

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=fyp_parking
